{% extends 'store/base.html' %}
{% load static %}
{% block title %}Estore|Giỏ Hàng{% endblock  %}
{% load humanize %}
{% block content %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for c in cart %}
                                            {% with product=c.product %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <div class="img">
                                                    <a href="{% url 'store:product-detail' product.pk %}"><img src="{{ product.image.url }}" alt={{ product.name }}></a>
                                                    <p>{{ product.name }}</p>
                                                </div>
                                            </td>
                                            <td>{{ c.price|floatformat:0|intcomma }}</td>
                                            <td>
                                                <div class="qty">
                                                    <button class="btn-minus" id="btn-minus-{{product.pk}}"><i class="fa fa-minus"></i></button>
                                                    <input type="text" id="quantity{{ product.pk}}" name="quantity{{product.pk}}" value="{{c.quantity}}">
                                                    <button class="btn-plus" id="btn-plus-{{product.pk}}"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                            <td>{{ c.price|floatformat:0|intcomma }}</td>
                                            <td>
                                                <button data-toggle="modal" data-target="#sp{{product.pk}}"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>

                                        {% comment %} Modal {% endcomment %}
                                        <div class="modal" tabindex="-1" id="sp{{product.pk }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Xoa san pham</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                <div class="modal-body">
                                                    <p>Bạn có chắc muốn xóa sản phẩm<b>{{product.name}}</b> ra khỏi giỏ hàng không?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method='post' action="{% url 'cart:cart_remove' product.pk %}">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không xóa</button>
                                                        <button type="submit" class="btn btn-primary">Đồng ý</button>
                                                    </form>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                            {% endwith %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="coupon">
                                            <input type="text" placeholder="Ma giam gia" name="coupon_code">
                                            <button type="submit" value="coupon" name="btnCoupon">Su dung</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <form method='post'>
                                        {% csrf_token %}
                                        <div class="cart-summary">
                                            <div class="cart-content">
                                                <h1>Thông tin đơn hàng</h1>
                                                <p>Tạm tính<span>{{ cart.get_total_price|floatformat:0|intcomma }} VND</span></p>
                                                <p>Phí giao hàng<span>0 VND</span></p>
                                                <h2>Thành tiền<span>{{ cart.get_final_total_price|floatformat:0|intcomma }} VND</span></h2>
                                            </div>
                                            <div class="cart-btn">
                                                <button type="submit" name="btnUpdateCart" value="update">Cập nhật giỏ hàng</button>
                                                <button type="button" onclick="window.location.href={% url 'cart:checkout' %}">Mua hàng</button>
                                                {% comment %} <button><a href="{% url 'cart:checkout' %}">Mua hang</a></button> {% endcomment %}
                                            </div>
                                        </div>
                                        {% for c in cart %}
                                            {% with product=c.product %}
                                                <input type="hidden" value="{{ c.quantity }}" id="quantity_{{product.pk}}" name="quantity_{{product.pk}}">
                                                <script>
                                                    $(document).ready(function(){
                                                        $('#quantity{{product.pk}}').change(function(){
                                                            let gia_tri = $('#quantity{{product.pk}}').val();
                                                            $('#quantity_{{product.pk}}').val(gia_tri);
                                                        });
                                                    });
                                                    $(document).ready(function(){
                                                        $('#btn-minus-{{product.pk}}').click(function(){
                                                            let gia_tri = $('#quantity{{product.pk}}').val();
                                                            $('#quantity_{{product.pk}}').val(gia_tri);
                                                        });
                                                    });
                                                    $(document).ready(function(){
                                                        $('#btn-plus-{{product.pk}}').click(function(){
                                                            let gia_tri = $('#quantity{{product.pk}}').val();
                                                            $('#quantity_{{product.pk}}').val(gia_tri);
                                                        });
                                                    });
                                                </script>
                                            {% endwith %}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
        
{% endblock %}
