{% extends 'store/base.html' %}
{% load static %}
{% block  title %}Account{% endblock  %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'store:index' %}">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Tài khoản của tôi</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i class="fa fa-user"></i>Tài khoản của tôi</a>
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab"><i class="fa fa-shopping-bag"></i>Đơn hàng</a>
                            <a class="nav-link" href="{% url 'user:login' %}"><i class="fa fa-sign-out-alt"></i>Đăng xuất</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Ma don hang</th>
                                                <th>Ngay dat hang</th>
                                                <th>Tong thanh tien</th>
                                                <th>Trang thai</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                            <tr>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.created|date:"d/m/Y"}}</td>
                                                <td>{{ order.total|floatformat:0|intcomma }}</td>
                                                <td>Approved</td>
                                                <td><button class="btn" data-toggle="modal" data-target="#o{{ order.id }}">Chi tiet</button></td>
                                            </tr>
                                            {% comment %} # modal {% endcomment %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                                <h4>Hồ sơ của tôi</h4>
                                <div class="row">
                                    <form class="row" method="post">
                                        {{ result|safe }}
                                        {% csrf_token %}
                                        <div class="col-md-6">
                                            <input class="form-control" name="first_name" type="text" placeholder="First Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" name='last_name' type="text" placeholder="Last Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" name="mobile"  type="text" placeholder="Mobile">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control" name="address" type="text" placeholder="Address">
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn" type="submit" value="update_account" name="btnUpdateUser">Cập nhật tài khoản</button>
                                            <br><br>
                                        </div>
                                    </form>
                                </div>
                                <h4>Cập nhật mật khẩu</h4>
                                <div class="row">
                                    <form class="row" method="post">
                                        {% csrf_token %}
                                        <div class="col-md-12">
                                            <input class="form-control" name="current_password"type="password" placeholder="Current Password">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" name="new_password" type="password" placeholder="New Password">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control" name="new_password1" type="password" placeholder="Confirm Password">
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn" name="btnUpdatePass" value="update_pass" type="submit">Đổi mật khẩu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->

{% comment %} modal {% endcomment %}
{% for order_id, order_items in dict_orders.items%}
<div class="modal fade" id="o{{ order_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đơn hàng # {{ order.id }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hình ảnh</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col" style="text-align: center;">Số lượng</th>
                            <th scope="col" style="text-align: right;">Đơn giá</th>
                            <th scope="col" style="text-align: right;">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in order_items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><img src="{{ i.product_image.url }}" alt="{{ i.product_name }}" style="width: 70px;"></td>
                            <td style="">{{ i.product_name }}</td>
                            <td style="text-align: center;">{{ i.quantity }}</td>
                            <td style="text-align: right;">{{ i.price|floatformat:0|intcomma }} đ</td>
                            <td style="text-align: right;">
                                {% with total=i.quantity|mul:i.price %}
                                {{ total|floatformat:0|intcomma }} VND
                                {% endwith %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr style="color: red;">
                            <td colspan="4"></td>
                            <td style="text-align: right;">
                                <h5>
                                    <strong>Tổng Tiền</strong>
                                </h5>
                            </td>
                            <td style="text-align: right;">
                                <h5>
                                    <strong>{{ order_items.0.total_price|floatformat:0|intcomma }}</strong>
                                </h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
